#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  zitadel-app.service
BindsTo=zitadel.service
After=zitadel.service postgresql-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p config
ExecStartPre=/bin/rm -f %t/zitadel-app.pid %t/zitadel-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/zitadel-app.pid \
    --cidfile %t/zitadel-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/zitadel.pod-id --replace -d --name  zitadel-app \
    --env-file=%S/state/zitadel.env \
    --env-file=%S/state/zitadel-app.env \
    ${ZITADEL_IMAGE} start-from-init --masterkey "${MASTER_KEY}" --tlsMode external
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/zitadel-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP zitadel-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/zitadel-app.ctr-id
PIDFile=%t/zitadel-app.pid
Type=forking

[Install]
WantedBy=default.target
